<h1>Editing Up File Share Authority</h1>

<%= render 'form', up_file_share_authority: @up_file_share_authority %>

<%= link_to 'Show', @up_file_share_authority %> |
<%= link_to 'Back', up_file_share_authorities_path %>
