<a class="new folder item">
    Tạo folder
        <i class="dropdown icon"></i>
</a>
<div class="ui small modal new folder">
    <div class="header">
        Tạo folder
    </div>
    <div class="content">
        <%= render 'new_folder_lite_form', folder: @new_folder %>
    </div>
</div>