<div class="comment-box">
	<%= render 'comments/form', comment: @new_comment %>	
</div>
<div class="ui segment comment-list" data-chat-room-id="<%= @chat_room.id %>">
    <div id="comments">
            <% if current_folder.chat_room.comments.any? %>
                <%= render 'comments/comments', comments: @chat_room.comments_with_user %>
            <% end %>
        </div>
</div>
