<div class="ui segment">
    <div style="overflow-y: scroll; height: 300px">
        <div id="comments">
            <% if current_folder.chat_room.comments.any? %>
                <%= render 'comments/comments', comments: @chat_room.comments_with_user %>
            <% end %>
        </div>
    </div>
</div>
<%= render 'comments/form', comment: @new_comment %>