<% folders.each do |folder| %>
    <div class="col-xs-6 col-sm-3 col-md-2 bottom-buffer">
        <div class="ui segment">
            <div class="ui center aligned header">
                <%= folder.name %>
            </div>
        </div>
    </div>
<% end %>