<% folders.each do |folder| %>
    <div class="col-xs-6 col-sm-3 col-md-2 bottom-buffer">
        <div class="ui segment">
            <%= link_to folder, remote: true do  %>
                <div class="ui center aligned header">
                    <%= folder.name %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>