<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="ui big breadcrumb">
                <%= render 'ancestors_breadcrumb' %>
            </div>
            <div class="ui divider"></div>
            <div class="row list folders">
                <%= render 'folders_list', folders: @folders %>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="affix">
                <%= render current_folder.chat_room %>
            </div>
        </div>
    </div>
</div>