<div class="container-fluid ui container">
    <div class="ui big breadcrumb">
        <%= render 'ancestors_breadcrumb' %>
    </div>
    <div class="ui divider"></div>
    <div class="row list folders">
        <%= render 'folders_list', folders: @folders %>
    </div>
</div>