<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="ui big breadcrumb">
                <%= render 'shared/ancestors_breadcrumb', folder: @video.folder %>
            </div>
            <div class="ui header"><%= @video.name %></div>
            <%= video_tag( @video.link , size: "620x440", controls: true, autoplay: true) %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="affix">
                <%= render @video.chat_room %>
            </div>
        </div>
    </div>
</div>
<%# link_to 'Edit', edit_video_path(@video) %> |
<%# link_to 'Back', videos_path %>