<div class="ui borderless menu fixed stackable main-header
    <%= 'top fixed hidden transition following-header' if current_page?(root_url) %> 
    ">
    <% if current_controller_is 'folders' %>
        <%= render 'shared/headers/header_folders' %>
    <% end %>
    <%= render 'shared/session' %>
</div>