<div class="welcome-div">
    <%# Fullscreen Landing Image %>
    <div class="ui inverted vertical masthead center aligned transition segment">
        <div class="ui container welcome-menu">
            <div class="ui large secondary inverted pointing menu">
                <%= render 'shared/session' %>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header"> Google Drive Clone. </h1>
            <h2>Bài tập môn Phát triển phần mềm phân tán.</h2>
            <% if user_signed_in? %>
                <%= link_to folders_path, class: 'ui icon labeled massive blue button' do %>
                    <i class="cloud icon"></i>
                    <p>Vào Drive của bạn.</p>
                <% end %>
            <% end %>
        </div>
    </div>
    <%# Content %>
    <div class="ui vertical stripe setment">
        <h4 class="ui horizontal header divider">
            <a href="#">TÀI KHOẢN TẠO SẴN</a>
        </h4>
        <div class="ui container">
            <table class="ui celled padded table">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Mật khẩu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>dat</td>
                        <td>dat@gmail.com</td>
                        <td>123456</td>
                    </tr>
                    <tr>
                        <td>thuy</td>
                        <td>thuy@gmail.com</td>
                        <td>123456</td>
                    </tr>
                    <tr>
                        <td>tu</td>
                        <td>tu@gmail.com</td>
                        <td>123456</td>
                    </tr>
                    <tr>
                        <td>bao</td>
                        <td>bao@gmail.com</td>
                        <td>123456</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui vertical stripe setment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>Ứng dụng Web: đang phát triển.</h3>
                </div>
                <div class="column">
                    <h3>Ứng dụng mobile: đang phát triển.</h3>
                </div>
            </div>
        </div>
    </div>
</div>