

<div class="upload">
</br>
<div class="label">{%=o.name%}</div>
</br>
<progress id="process-bar" value="1" max="100"></progress>
<style type="text/css" media="screen">
    #process-bar {        
        width: 450px;
        height: 20px;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 0;
    }
    #process-bar::-webkit-progress-bar {
        width: 450px;
        height: 20px;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 0;
    }
    #process-bar::-webkit-progress-value {
        width: 450px;
        height: 20px;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 0;
    }
    #process-bar::-moz-progress-bar {
        width: 450px;
        height: 20px;
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 0;
    }
    .label {
        font-size: 20px;
        color: red;
    }
</style>